<div class="carousel">
    <div class="carousel-images" [@carouselState]="{ value: getRolling, params: { move: -100 / visible + '%'} }"
        (@carouselState.done)="carouselAnimationCallback($event)" (click)="clickedNext()">
        <div class="carousel-image" *ngFor="let image of images" [style.width]="100/visible + '%'">
            <div class="carousel-image-picture" [style.background-image]="'url('+ image +')'"></div>
        </div>
    </div>
    <div class="carousel-dots">
        <div class="carousel-dot" *ngFor="let dot of dots; let i = index"
            [ngClass]="{ 'carousel-dot-selected': i === selected }"></div>
    </div>
</div>